
.result {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px lightgrey solid;

    &__container {
        width: 31rem;
        text-align: left;
    }

    &__results-text {
        margin: 0;
        padding: 0.3rem;
        text-align: left;
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 500;
        
    }

    &__button-container {
        margin: auto;
    }

    &__button {
        border: none;
        border-radius: .25rem;
        background-color: black;
        color: white;
        padding: .25rem 2rem;;
        margin-right: 1rem;
    }
}